<p id="notice"><%= notice %></p>

<h1>Chat Bots</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chat_bots.each do |chat_bot| %>
      <tr>
        <td><%= chat_bot.name %></td>
        <td><%= chat_bot.location %></td>
        <td><%= link_to 'Show', chat_bot %></td>
        <td><%= link_to 'Edit', edit_chat_bot_path(chat_bot) %></td>
        <td><%= link_to 'Destroy', chat_bot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chat Bot', new_chat_bot_path %>
